body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Cornice-grafica-di-base {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Cornice-di-testo-di-base {
	border-style:solid;
}
p.Paragrafo-base {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Stile-di-carattere-1 {
	font-family:"Helvetica Neue Light", sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.helv {
	font-family:"Helvetica Neue Bold", sans-serif;
	font-size:26px;
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	text-align:right;
}
p.ParaOverride-2 {
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-3 {
	-epub-hyphens:none;
}
p.ParaOverride-4 {
	text-align:center;
}
p.ParaOverride-5 {
	-epub-hyphens:none;
	text-align:justify;
	text-align-last:center;
}
p.ParaOverride-6 {
	-epub-hyphens:none;
	text-align:justify;
	text-align-last:justify;
}
p.ParaOverride-7 {
	-epub-hyphens:none;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-8 {
	-epub-hyphens:none;
	text-align:right;
}
span.CharOverride-1 {
	font-family:"Helvetica Neue Bold", sans-serif;
	font-size:100px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-family:"Helvetica Neue Bold", sans-serif;
	font-size:20px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	font-family:"Helvetica Neue Bold", sans-serif;
	font-size:50px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-family:"Helvetica Neue Bold", sans-serif;
	font-size:90px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	font-family:"Helvetica Neue Bold", sans-serif;
	font-size:24px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	font-family:"Helvetica Neue Bold", sans-serif;
	font-size:42px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	font-family:"Helvetica Neue Light", sans-serif;
	font-size:15px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	font-family:"Helvetica Neue Bold", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-9 {
	font-family:"Helvetica Neue Bold", sans-serif;
	font-size:42px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-10 {
	font-family:"Helvetica Neue Light", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-family:"Helvetica Neue Light", sans-serif;
	font-size:20px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	font-family:Helvetica, sans-serif;
	font-size:42px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-13 {
	font-family:Helvetica, sans-serif;
	font-size:30px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-14 {
	font-family:Helvetica, sans-serif;
	font-size:33px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-15 {
	color:#ffffff;
	font-family:Helvetica, sans-serif;
	font-size:27px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	color:#000000;
	font-family:Helvetica, sans-serif;
	font-size:27px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-17 {
	font-family:"Helvetica Light", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-18 {
	font-family:"Helvetica Neue Bold", sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-19 {
	font-family:"Helvetica Light", sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	display:inline-block;
	height:272px;
	position:relative;
	width:764px;
}
#_idContainer001, #_idContainer012 {
	display:inline-block;
	height:798px;
	width:797px;
}
#_idContainer003, #_idContainer004 {
	display:inline-block;
	height:0px;
	position:relative;
	width:58px;
}
#_idContainer006 {
	display:inline-block;
	height:78px;
	width:332px;
}
#_idContainer007, #_idContainer008 {
	display:inline-block;
	height:18px;
	position:relative;
	width:18px;
}
#_idContainer011, #_idContainer014, #_idContainer019, #_idContainer022, #_idContainer044, #_idContainer046, #_idContainer058, #_idContainer060, #_idContainer071, #_idContainer073, #_idContainer076, #_idContainer078, #_idContainer104, #_idContainer106, #_idContainer107, #_idContainer131, #_idContainer132, #_idContainer135, #_idContainer136, #_idContainer157, #_idContainer160, #_idContainer165, #_idContainer166, #_idContainer197, #_idContainer198, #_idContainer201, #_idContainer202, #_idContainer228, #_idContainer229, #_idContainer232, #_idContainer233, #_idContainer254, #_idContainer255, #_idContainer258, #_idContainer259, #_idContainer280, #_idContainer281, #_idContainer284, #_idContainer285, #_idContainer290, #_idContainer291, #_idContainer294, #_idContainer297, #_idContainer301 {
	display:inline-block;
	height:100px;
	position:relative;
	width:100px;
}
#_idContainer013 {
	display:inline-block;
	height:668px;
	width:730px;
}
#_idContainer015 {
	display:inline-block;
	height:78px;
	width:181px;
}
#_idContainer017, #_idContainer296 {
	display:inline-block;
	height:502px;
	position:relative;
	width:0px;
}
#_idContainer020, #_idContainer298 {
	display:inline-block;
	height:30px;
	position:relative;
	width:30px;
}
#_idContainer021, #_idContainer045, #_idContainer059, #_idContainer072, #_idContainer077, #_idContainer105, #_idContainer133, #_idContainer134, #_idContainer162, #_idContainer163, #_idContainer199, #_idContainer200, #_idContainer230, #_idContainer231, #_idContainer256, #_idContainer257, #_idContainer282, #_idContainer283, #_idContainer292, #_idContainer293, #_idContainer299, #_idContainer310 {
	-ms-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:8px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:10px;
}
#_idContainer023, #_idContainer047 {
	display:inline-block;
	height:799px;
	position:relative;
	width:1279px;
}
#_idContainer027 {
	-ms-transform:translate(-118.226px,-81.057px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-118.226px,-81.057px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:668.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-118.226px,-81.057px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-118.226px,-81.057px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:730.20px;
	z-index:0;
}
#_idContainer028 {
	-ms-transform:translate(212.098px,36.021px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(212.098px,36.021px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(212.098px,36.021px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(212.098px,36.021px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:58.18px;
	z-index:5;
}
#_idContainer029 {
	-ms-transform:translate(273.776px,63.480px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(273.776px,63.480px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(273.776px,63.480px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(273.776px,63.480px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:283.48px;
	z-index:6;
}
#_idContainer030 {
	-ms-transform:translate(497.747px,66.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(497.747px,66.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:217.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(497.747px,66.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(497.747px,66.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:7;
}
#_idContainer031 {
	-ms-transform:translate(497.747px,284.233px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(497.747px,284.233px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(497.747px,284.233px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(497.747px,284.233px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:59.51px;
	z-index:12;
}
#_idContainer032 {
	-ms-transform:translate(582.519px,53.457px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(582.519px,53.457px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.40px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(582.519px,53.457px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(582.519px,53.457px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:61.18px;
	z-index:1;
}
#_idContainer033 {
	-ms-transform:translate(582.519px,270.758px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(582.519px,270.758px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.40px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(582.519px,270.758px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(582.519px,270.758px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:61.18px;
	z-index:3;
}
#_idContainer034, #_idContainer035 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:30.46px;
}
#_idContainer036 {
	-ms-transform:translate(691.770px,132.097px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(691.770px,132.097px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(691.770px,132.097px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(691.770px,132.097px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:32.46px;
	z-index:8;
}
#_idContainer037 {
	-ms-transform:translate(692.270px,53.457px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(692.270px,53.457px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:67.73px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(692.270px,53.457px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(692.270px,53.457px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:357.40px;
	z-index:2;
}
#_idContainer038 {
	-ms-transform:translate(692.270px,270.758px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(692.270px,270.758px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:52.20px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(692.270px,270.758px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(692.270px,270.758px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:357.40px;
	z-index:4;
}
#_idContainer039 {
	-ms-transform:translate(692.270px,352.282px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(692.270px,352.282px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(692.270px,352.282px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(692.270px,352.282px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:30.46px;
	z-index:10;
}
#_idContainer040 {
	-ms-transform:translate(738.141px,132.597px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(738.141px,132.597px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:67.73px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(738.141px,132.597px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(738.141px,132.597px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:357.40px;
	z-index:9;
}
#_idContainer041 {
	-ms-transform:translate(738.641px,352.782px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(738.641px,352.782px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:67.73px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(738.641px,352.782px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(738.641px,352.782px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:357.40px;
	z-index:11;
}
#_idContainer042 {
	display:inline-block;
	height:454px;
	position:relative;
	width:1096px;
}
#_idContainer043, #_idContainer057, #_idContainer070, #_idContainer075, #_idContainer103, #_idContainer129, #_idContainer130, #_idContainer158, #_idContainer159, #_idContainer195, #_idContainer196, #_idContainer226, #_idContainer227, #_idContainer252, #_idContainer253, #_idContainer278, #_idContainer279, #_idContainer288, #_idContainer289, #_idContainer309 {
	-ms-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:8px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:10px;
}
#_idContainer051 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:422.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:422.40px;
	z-index:4;
}
#_idContainer052 {
	-ms-transform:translate(556.110px,81.009px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(556.110px,81.009px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.40px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(556.110px,81.009px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(556.110px,81.009px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:61.18px;
	z-index:0;
}
#_idContainer053 {
	-ms-transform:translate(556.110px,257.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(556.110px,257.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.40px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(556.110px,257.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(556.110px,257.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:61.18px;
	z-index:2;
}
#_idContainer054 {
	-ms-transform:translate(665.860px,81.009px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(665.860px,81.009px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:102.60px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(665.860px,81.009px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(665.860px,81.009px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:357.40px;
	z-index:1;
}
#_idContainer055 {
	-ms-transform:translate(665.860px,257.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(665.860px,257.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:132.78px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(665.860px,257.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(665.860px,257.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:357.40px;
	z-index:3;
}
#_idContainer056 {
	display:inline-block;
	height:422px;
	position:relative;
	width:1023px;
}
#_idContainer062, #_idContainer063, #_idContainer064, #_idContainer065, #_idContainer066, #_idContainer067, #_idContainer068 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:8px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:38px;
}
#_idContainer083 {
	-ms-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:262px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:5px;
}
#_idContainer084 {
	-ms-transform:translate(0.000px,-46.801px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-46.801px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:729.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-46.801px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-46.801px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:257.00px;
	z-index:0;
}
#_idContainer085 {
	-ms-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:683px;
	overflow:hidden;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:257px;
}
#_idContainer086 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:103px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:157px;
}
#_idContainer088 {
	display:inline-block;
	height:41px;
	position:relative;
	width:258px;
}
#_idContainer090 {
	display:inline-block;
	height:42px;
	position:relative;
	width:97px;
}
#_idContainer091 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:64px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:5px;
}
#_idContainer092, #_idContainer094 {
	display:inline-block;
	height:42px;
	position:relative;
	width:0px;
}
#_idContainer093 {
	display:inline-block;
	height:92px;
	position:relative;
	width:5px;
}
#_idContainer095 {
	display:inline-block;
	height:103px;
	position:relative;
	width:157px;
}
#_idContainer096 {
	-ms-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:260px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:12px;
}
#_idContainer097 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:46.73px;
	z-index:0;
}
#_idContainer098 {
	-ms-transform:translate(38.847px,8.168px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(38.847px,8.168px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(38.847px,8.168px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(38.847px,8.168px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:28.39px;
	z-index:1;
}
#_idContainer099 {
	display:inline-block;
	height:47px;
	position:relative;
	width:47px;
}
#_idContainer111 {
	display:inline-block;
	height:25px;
	position:relative;
	width:17px;
}
#_idContainer112, #_idContainer118, #_idContainer141, #_idContainer147, #_idContainer177, #_idContainer183, #_idContainer211, #_idContainer217, #_idContainer237, #_idContainer243, #_idContainer263, #_idContainer269 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.64px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:19.05px;
	z-index:0;
}
#_idContainer113, #_idContainer142, #_idContainer178, #_idContainer212, #_idContainer238, #_idContainer264 {
	-ms-transform:translate(3.134px,8.537px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3.134px,8.537px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.134px,8.537px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3.134px,8.537px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:11.17px;
	z-index:1;
}
#_idContainer114, #_idContainer143, #_idContainer179, #_idContainer213, #_idContainer239, #_idContainer265 {
	-ms-transform:translate(3.133px,12.579px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3.133px,12.579px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.133px,12.579px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3.133px,12.579px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:11.17px;
	z-index:2;
}
#_idContainer115, #_idContainer144, #_idContainer180, #_idContainer214, #_idContainer240, #_idContainer266 {
	-ms-transform:translate(3.133px,16.620px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3.133px,16.620px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.133px,16.620px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3.133px,16.620px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:6.04px;
	z-index:3;
}
#_idContainer116, #_idContainer145, #_idContainer181, #_idContainer215, #_idContainer241, #_idContainer267 {
	-ms-transform:translate(13.393px,20.276px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(13.393px,20.276px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(13.393px,20.276px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(13.393px,20.276px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.90px;
	z-index:5;
}
#_idContainer117, #_idContainer146, #_idContainer182, #_idContainer216, #_idContainer242, #_idContainer268 {
	-ms-transform:translate(13.395px,21.935px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(13.395px,21.935px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(13.395px,21.935px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(13.395px,21.935px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.91px;
	z-index:4;
}
#_idContainer119, #_idContainer148, #_idContainer184, #_idContainer218, #_idContainer244, #_idContainer270 {
	display:inline-block;
	height:29px;
	position:relative;
	width:19px;
}
#_idContainer120 {
	display:inline-block;
	height:111px;
	position:relative;
	width:107px;
}
#_idContainer121 {
	display:inline-block;
	height:73px;
	position:relative;
	width:532px;
}
#_idContainer122, #_idContainer125, #_idContainer150, #_idContainer153, #_idContainer188, #_idContainer191, #_idContainer219, #_idContainer222, #_idContainer245, #_idContainer248, #_idContainer271, #_idContainer274 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:134.53px;
	z-index:0;
}
#_idContainer123, #_idContainer126, #_idContainer151, #_idContainer154, #_idContainer189, #_idContainer192, #_idContainer220, #_idContainer223, #_idContainer246, #_idContainer249, #_idContainer272, #_idContainer275 {
	-ms-transform:translate(27.003px,17.137px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.003px,17.137px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.13px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(27.003px,17.137px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.003px,17.137px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:82.52px;
	z-index:1;
}
#_idContainer124, #_idContainer152, #_idContainer190, #_idContainer221, #_idContainer247, #_idContainer273 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:53.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:136.53px;
	z-index:0;
}
#_idContainer127, #_idContainer155, #_idContainer193, #_idContainer224, #_idContainer250, #_idContainer276 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:53.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:136.53px;
}
#_idContainer128, #_idContainer156, #_idContainer194, #_idContainer225, #_idContainer251, #_idContainer277 {
	display:inline-block;
	height:54px;
	position:relative;
	width:137px;
}
#_idContainer139 {
	background-image:url(../image/5.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:552px;
	position:relative;
	text-align:left;
	width:604px;
}
#_idContainer149 {
	display:inline-block;
	height:28px;
	position:relative;
	width:209px;
}
#_idContainer161 {
	display:inline-block;
	height:34px;
	position:relative;
	width:82px;
}
#_idContainer164 {
	display:inline-block;
	height:95px;
	position:relative;
	width:35px;
}
#_idContainer169 {
	background-image:url(../image/6.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:552px;
	position:relative;
	text-align:left;
	width:604px;
}
#_idContainer170 {
	display:inline-block;
	height:76px;
	position:relative;
	width:79px;
}
#_idContainer171 {
	-ms-transform:translate(0.000px,1.518px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,1.518px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:131.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,1.518px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,1.518px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:495.82px;
	z-index:1;
}
#_idContainer172 {
	-ms-transform:translate(12.519px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(12.519px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:127.42px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(12.519px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(12.519px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:489.07px;
	z-index:0;
}
#_idContainer173 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:501.59px;
	z-index:0;
}
#_idContainer174 {
	display:inline-block;
	height:135px;
	overflow:hidden;
	position:relative;
	width:502px;
}
#_idContainer175 {
	display:inline-block;
	height:191px;
	position:relative;
	width:225px;
}
#_idContainer186 {
	display:inline-block;
	height:52px;
	position:relative;
	width:52px;
}
#_idContainer187 {
	display:inline-block;
	height:98px;
	position:relative;
	width:233px;
}
#_idContainer204 {
	background-image:url(../image/7.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:552px;
	position:relative;
	text-align:left;
	width:604px;
}
#_idContainer205 {
	background-image:url(../image/8.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:552px;
	position:relative;
	text-align:left;
	width:604px;
}
#_idContainer206 {
	display:inline-block;
	height:158px;
	position:relative;
	width:60px;
}
#_idContainer207 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:40.95px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:500.74px;
}
#_idContainer208 {
	display:inline-block;
	height:41px;
	position:relative;
	width:501px;
}
#_idContainer209 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:92.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:500.74px;
}
#_idContainer210 {
	display:inline-block;
	height:92px;
	position:relative;
	width:501px;
}
#_idContainer235 {
	background-image:url(../image/9.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:552px;
	position:relative;
	text-align:left;
	width:604px;
}
#_idContainer236 {
	display:inline-block;
	height:54px;
	position:relative;
	width:405px;
}
#_idContainer261 {
	background-image:url(../image/10.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:552px;
	position:relative;
	text-align:left;
	width:604px;
}
#_idContainer287 {
	background-image:url(../image/11.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:552px;
	position:relative;
	text-align:left;
	width:604px;
}
#_idContainer300 {
	display:inline-block;
	height:33px;
	position:relative;
	width:79px;
}
#_idContainer302 {
	display:inline-block;
	height:698px;
	position:relative;
	width:1198px;
}
#_idContainer303, #_idContainer306, #_idContainer307, #_idContainer308 {
	display:inline-block;
	height:296px;
	position:relative;
	width:230px;
}
#_idContainer304 {
	display:inline-block;
	height:88px;
	position:relative;
	width:230px;
}
#_idContainer305 {
	display:inline-block;
	height:33px;
	position:relative;
	width:127px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectAttribute-2 {
	height:552px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:604px;
}
div._idGenObjectStyleOverride-1 {
	background-color:#ffffff;
	border-color:#ffffff;
	border-style:dotted;
	border-width:8px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#000000;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	border-width:0px;
}
div._idGenObjectStyleOverride-4 {
	border-color:#ffffff;
	border-width:2px;
}
div._idGenObjectStyleOverride-5 {
	background-color:#ffffff;
	border-color:#ffffff;
}
div._idGenObjectStyleOverride-6 {
	border-color:#020203;
	border-width:2px;
}
div._idGenObjectStyleOverride-7 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-color:#020203;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:2px;
}
div._idGenObjectStyleOverride-8 {
	background-color:#d9d8d8;
	border-color:#020203;
	border-width:2px;
}
div._idGenObjectStyleOverride-9 {
	border-color:#020203;
}
div._idGenObjectStyleOverride-10 {
	background-color:#ac1917;
	border-color:#020203;
}
div._idGenObjectStyleOverride-11 {
	background-color:#d9d8d8;
	border-color:#020203;
	border-style:dotted;
	border-width:2px;
}
div._idGenObjectStyleOverride-12 {
	border-width:1px;
}
div._idGenObjectStyleOverride-13 {
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-color:#00adef;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-width:2px;
}
div._idGenObjectStyleOverride-14 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:1px;
}
div._idGenObjectStyleOverride-15 {
	border-color:#00adef;
	border-width:2px;
}
div._idGenObjectStyleOverride-16 {
	border-color:#ffffff;
}
div._idGenObjectStyleOverride-17 {
	background-color:#000000;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
}
div._idGenObjectStyleOverride-18 {
	background-color:#ffffff;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
}
div._idGenObjectStyleOverride-19 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	margin:1px -1px 1px -1px;
}
div._idGenObjectLayout-3 {
	margin:-129px 129px -129px 129px;
}
div._idGenObjectLayout-4 {
	margin:-213px 213px -213px 213px;
}
div._idGenObjectLayout-5 {
	margin:-124px 124px -124px 124px;
}
